-
  var
    html_class = "wide wow-animation",
    fonts = "//fonts.googleapis.com/css?family=Poppins:300,400,500",
    subscribeFormCounter = 0,
    logo = {
      default: 'logo-default-151x35',
      inverse: 'logo-inverse-151x35',
      name: 'GreenDay'
    },
    links = {
      post: '#',
      getTemplate:'#'
    },
    colors = {
      primary: '#$primary',
      secondary2: '$secondary'
    },
    menu = [
      {
        title: 'Home',
        link: 'index.html'
      },
      {
        title: 'About Us',
        category: 'about',
        dropdown: [
          { title: 'Services' },
          { title: 'Single Service' },
          { title: 'Pricing' },
          { title: 'Our Team' },
          { title: 'Testimonials' }
        ]
      },
      {
        title: 'Shop',
        category: 'shop',
        dropdown: [
          {  title: 'Single Product' },
          {  title: 'Cart Page' },
          {  title: 'Checkout' }
        ]
      },
      {
        title: 'Blog',
        category: 'blog',
        dropdown: [
          { title: 'Blog Post' }
        ]
      },
      {
        title: 'Pages',
        category: 'pages',
        link: '#',
        dropdown: [
          { title: 'Gallery' },
          { title: '404 Page' },
          { title: '503 Page' },
          { title: 'Coming Soon' },
          { title: 'Search results' }
        ]
      },
      {
        title: 'Contact Us',
        category: 'contacts'
      }
    ];
